# Ignore node_modules folder
node_modules

# Ignore build output (if it exists in the project root)
build

# Ignore log files
npm-debug.log
yarn-debug.log
yarn-error.log

# Ignore Dockerfile and docker-compose.yml (optional)
Dockerfile
docker-compose.yml

# Ignore git repository files
.git
.gitignore

# Ignore local environment files
# .env
# .env.local
# .env.*.local

# Ignore editor and OS files
.vscode
.idea
.DS_Store
Thumbs.db
